DomainDetective/Definitions/DmarcAggregateReport_v2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dmarc.org/dmarc-xml/2.0" elementFormDefault="qualified">
  <xs:element name="feedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="record" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="identifiers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="header_from" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="row">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="source_ip" type="xs:string" />
                    <xs:element name="count" type="xs:integer" minOccurs="0" />
                    <xs:element name="policy_evaluated" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="dkim" type="xs:string" minOccurs="0" />
                          <xs:element name="spf" type="xs:string" minOccurs="0" />
                          <xs:element name="disposition" type="xs:string" minOccurs="0" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
